@model HistoryPedia.Models.User
@{
    ViewBag.Title = "Favorite articles";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    Your favorite articles
                </h1>
            </div>
        </div>
    </div>
    <div class="row"> </div>
    <div class="row">
        @if (Model.FavoriteArticles.Count() != 0)
        {
            @foreach (var item in Model.FavoriteArticles)
            {
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" alt="Bootstrap Thumbnail First" src="@item.Image.Path">
                        <div class="card-block">
                            <h5 class="card-title">
                                @item.Name
                            </h5>
                            <p class="card-text">
                                @item.ShirtInfo
                            </p>
                            <p>
                                <a class="btn btn-primary" asp-action="Details" asp-controller="Home" asp-route-id="@item.Id">Learn more</a>
                                <a class="btn btn-danger" asp-action="RemoveFromFavorite" asp-controller="Favorite" asp-route-id="@item.Id">Remove</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h3>
                Ooops...  @Model.UserName, you still haven't any favorite articles :(
            </h3>
        }
    </div>
</div>